In [1]:
import pandas as pd
from modulku import praproses as pps, StemNstopW as stm
from replace import normalisasi as nrm

In [2]:
data = pd.read_excel("../dataset_sms_spam _v1.xlsx")
sms = data.Teks.tolist()
label = data.label.tolist()
data = pd.read_excel("../dataset_sms_spam _v2.xlsx")
sms += data.Teks.tolist()
data.head()

   Unnamed: 0  label                                               Teks
0           0  fraud  NOMOR !!! Anda Dapat Hadiah Cek Rp.100jt Dari ...
1           1  promo  RAMADHAN Sale. Disc sd 70% utk produk Reguler ...
2           2  promo  Selamat! Anda mendapatkan 2 poin dari isi ulan...
3           3  promo  Selamat, anda berhak mendapatkan kuota interne...
4           4  fraud  Big S4LE!!! Bul4n suci FAJAR 0Lshop,Dptk4n IPH...

In [3]:
label2 = list()
for i in label:
    if i == 0:
        label2.append("normal")
    elif i == 1:
        label2.append("fraud")
    elif i == 2:
        label2.append("promo")
    else:
        label2.append("error")

label2 += data.label.tolist()

In [4]:
data_bersih = list()
for ix, i in enumerate(sms):
    i = pps.preprocessing(i)
    i = nrm.normalisasi(i)
    i = stm.stemmer_kata(i)
#     i = i.replace(' dg ', ' dengan ').replace(' dpt ', ' dapat ').replace(' sama2 ', '').replace(' yg ', ' yang ').replace(' tp ', ' tapi ').replace(' rb', ' ribu ')
    i = stm.stop_word(i)
#     i = i.replace(" temen2 ", " teman ").replace(" ku ", "").replace(" hmm", "").replace("sih ", "").replace("2 5 ", "").replace('001', "").replace('0100', "").replace('081281108799', "").replace('10', "").replace('100', "").replace('1572', "").replace('2011', "").replace('2015', "").replace('35', "").replace('503', "").replace('550', "").replace('600', "").replace('700', "").replace('905', "").replace('9997175', "").replace('30', "").replace('400', "").replace('4g', "").replace('91', "")
    data_bersih.append(i)
    if (ix+1)%100==0:
        print(ix+1)
    else:
        print('.', end='')

In [ ]:
len(label2)

In [6]:
dictt = {
#     'kode':label,
    'label':label2,
    'sms':data_bersih,  
}
df = pd.DataFrame.from_dict(dictt)
df.to_excel('sms_clean_norm_+_new_data.xlsx')