In [3]:
import pandas as pd
import numpy as np
from joblib import dump
from replace import normalisasi as nrm

In [4]:
nrm.normalisasi("BONUS PULSA 50rb cuma dgn isi ulang 25rb!! Hny Indosat yg bisa begini. Penawaran berlaku s/d 11 April 2016. Bonus 1x utk digunakan ke sesama Indosat Ooredoo")

'bonus pulsa rb cuma dgn isi ulang rb ! ! hny indosat yang bisa begini . penawaran berlaku s / d april . bonus 1x utk digunakan ke sesama indosat ooredoo'

In [5]:
# data = pd.read_excel('sms_clean.xlsx') #sms_clean_norm   #sms_clean_norm_+_new_data
data = pd.read_excel('sms_clean_norm_+_new_data.xlsx') #sms_clean_norm
sms = data.sms.tolist()
label = data.label.tolist()
y = np.array(label)
data.head()

   Column1  rand   label                                                sms
0      874   455  normal  kantin fip nama 1 sendiri td mau pus tp bntar ...
1       11  9132   promo  langgan paket rp utk mb 2g 3g mb 3g hari tuju ...
2      225   477   promo  tingkat nilai isi ulang lanjut minimal rp10rib...
3      870  4623  normal  kan bapak ngomong 2 trs tanya siapa aku blg lg...
4     1205  8929   promo  mau hadiah iphone xs max gratis yuk ikut progr...

In [6]:
from sklearn.feature_extraction.text import TfidfVectorizer
corpus = sms
vectorizer = TfidfVectorizer()
X = vectorizer.fit_transform(corpus)
save = vectorizer.fit(corpus)
dump(save, "model/tfidf.w")
# print(vectorizer.get_feature_names())
fitur = vectorizer.get_feature_names()
print(X.shape)

(1432, 4738)

In [7]:
dict_ = {
    'fitur':fitur
}
pd.DataFrame.from_dict(dict_).to_excel("hasil/fitur3.xlsx")

In [8]:
from sklearn.naive_bayes import MultinomialNB
clf = MultinomialNB()

In [9]:
# clf.set_params(alpha=1)

In [ ]:
from sklearn.model_selection import StratifiedKFold
from sklearn.metrics import accuracy_score

skf = StratifiedKFold(n_splits=10)
skf.get_n_splits(X, y)

start = 0.0001
stop = 1
step = start
alpha_list = np.arange(start,stop+step,step)
# print(alpha_list)
akurasi = list()

ix = 0 #just counter
for alpha in alpha_list:
    clf.set_params(alpha=alpha)
    temp_akurasi = list()
    for train_index, test_index in skf.split(X, y):
    #     print("TRAIN:", train_index, "TEST:", test_index)
        X_train, X_test = X[train_index], X[test_index]
        y_train, y_test = y[train_index], y[test_index]
        
        #latih model
        clf.fit(X_train,y_train)
        
        #prediksi
        y_pred = clf.predict(X_test)
        temp_akurasi.append(accuracy_score(y_test, y_pred))
    rerata_akurasi = sum(temp_akurasi)/len(temp_akurasi)
    akurasi.append(rerata_akurasi)
#     print('alpha   :',alpha)
#     print('     akurasi :',rerata_akurasi)
#     print("="*100)
    ix +=1
    if ix%100 !=0:
        print(".", end="")
    else:
        print(ix)

ditt = {
    "alpha":alpha_list,
    "akurasi":akurasi
}
index = akurasi.index(max(akurasi))
acc = pd.DataFrame.from_dict(ditt)

...................................................................................................100
...................................................................................................200
...................................................................................................300
...................................................................................................400
...................................................................................................500
...................................................................................................600
...................................................................................................700
...................................................................................................800
...................................................................................................900
...................................................................................................1000
.....................................................................

In [14]:
print(alpha_list[index])
print(akurasi[index])
acc

0.112
0.9440013076168683

       alpha   akurasi
0     0.0001  0.924724
1     0.0002  0.924724
2     0.0003  0.924724
3     0.0004  0.924724
4     0.0005  0.925593
5     0.0006  0.926486
6     0.0007  0.927364
7     0.0008  0.927364
8     0.0009  0.927364
9     0.0010  0.927364
10    0.0011  0.926486
11    0.0012  0.927379
12    0.0013  0.927379
13    0.0014  0.927379
14    0.0015  0.927379
15    0.0016  0.927379
16    0.0017  0.927379
17    0.0018  0.927379
18    0.0019  0.927379
19    0.0020  0.927379
20    0.0021  0.927379
21    0.0022  0.927379
22    0.0023  0.927379
23    0.0024  0.927379
24    0.0025  0.928249
25    0.0026  0.928249
26    0.0027  0.928249
27    0.0028  0.928249
28    0.0029  0.928249
29    0.0030  0.928249
...      ...       ...
9970  0.9971  0.933412
9971  0.9972  0.933412
9972  0.9973  0.933412
9973  0.9974  0.933412
9974  0.9975  0.933412
9975  0.9976  0.933412
9976  0.9977  0.933412
9977  0.9978  0.933412
9978  0.9979  0.933412
9979  0.9980  0.933412
9980  0.9981  0.933412
9981  0.9982  0.933412
9982  0.9983  0.933412
9983  0.9984  0.933412
9984  0.9985  0.933412
9985  0.9986  0.933412
9986  0.9987  0.933412
9987  0.9988  0.933412
9988  0.9989  0.933412
9989  0.9990  0.933412
9990  0.9991  0.933412
9991  0.9992  0.933412
9992  0.9993  0.933412
9993  0.9994  0.933412
9994  0.9995  0.933412
9995  0.9996  0.933412
9996  0.9997  0.933412
9997  0.9998  0.933412
9998  0.9999  0.933412
9999  1.0000  0.933412

[10000 rows x 2 columns]

In [15]:
acc.to_excel("hasil\hasil_k-fold_norm.xlsx")

In [16]:
clf.set_params(alpha=alpha_list[index])
clf.fit(X, y)
dump(clf, "model/mnb.m")

['model/mnb.m']