In [87]:
import pandas as pd
from modulku import praproses as pps, StemNstopW as stm

In [88]:
data = pd.read_excel("dataset_sms_spam _v1.xlsx", sheet_name = 'Sheet2')
sms = data.sms.tolist()
label = data.label2.tolist()
data

                                                 sms  label      label2
0  [PROMO] Beli paket Flash mulai 1GB di MY TELKO...    2.0       promo
1  2.5 GB/30 hari hanya Rp 35 Ribu Spesial buat A...    2.0       promo
2  Seminar ke Denpasar Bali mewakili kemahasiswaa...    1.0      fraud
3  Terima kasih telah melakukan pengisian di coun...    1.0      fraud
4  Ada yang 400 rb yang kamar mandinya sama2 kala...    0.0  sms normal
5  Ada sih yg nikah muda tp (keliatan) bahagia, t...    0.0  sms normal
6  Dapatkan EXTRA kuota 2GB 4G LTE dan EXTRA nelp...    NaN         NaN

# Praproses

In [89]:
data_bersih = list()
for ix, i in enumerate(sms):
    i = pps.preprocessing(i)
    i = stm.stemmer_kata(i)
    i = i.replace(' dg ', ' dengan ').replace(' dpt ', ' dapat ').replace(' sama2 ', '').replace(' yg ', ' yang ').replace(' tp ', ' tapi ').replace(' rb', ' ribu ')
    i = stm.stop_word(i)
    i = i.replace(" temen2 ", " teman ").replace(" ku ", "").replace(" hmm", "").replace("sih ", "").replace("2 5 ", "").replace('001', "").replace('0100', "").replace('081281108799', "").replace('10', "").replace('100', "").replace('1572', "").replace('2011', "").replace('2015', "").replace('35', "").replace('503', "").replace('550', "").replace('600', "").replace('700', "").replace('905', "").replace('9997175', "").replace('30', "").replace('400', "").replace('4g', "").replace('91', "")
    
    data_bersih.append(i)
dictt = {
    "data_sms_kotor":sms,
}
dictt.update({"sms_bersih":data_bersih})
pd.DataFrame.from_dict(dictt).to_excel("contoh_data_sms_bersih.xlsx")

In [90]:
# .replace('30', "").replace('400', "").replace('4g', "").replace('91', "").replace('100', "").replace('1572', "").replace('2011', "").replace('2015', "").replace('35', "").replace('503', "").replace('550', "").replace('600', "").replace('700', "").replace('905', "").replace('9997175', "")

In [91]:
corpus = data_bersih[:-1]

In [92]:
from sklearn.feature_extraction.text import CountVectorizer
vectorizer = CountVectorizer()
X = vectorizer.fit_transform(corpus)
X_ = vectorizer.fit(corpus)
fitur = vectorizer.get_feature_names()
fitur

['0mnt',
 '1gb',
 '1hr',
 '2gb',
 'aktif',
 'app',
 'bahagia',
 'bal',
 'bayar',
 'beli',
 'besar',
 'biaya',
 'buat',
 'buru',
 'cek',
 'cell',
 'counter',
 'denpasar',
 'dikti',
 'direktur',
 'dr',
 'extra',
 'flash',
 'gb',
 'hari',
 'hingga',
 'hubung',
 'info',
 'isi',
 'joko',
 'juta',
 'kalaku',
 'kalau',
 'kalo',
 'kamar',
 'kayak',
 'kecil',
 'kewirausahaan',
 'kuota',
 'layan',
 'liat',
 'lte',
 'mahasiswa',
 'mandi',
 'mandikalau',
 'me',
 'million',
 'muda',
 'mulai',
 'my',
 'mytsel1',
 'nelpon',
 'nikah',
 'no',
 'nomor',
 'nov',
 'of',
 'one',
 'paket',
 'pilih',
 'pln',
 'prof',
 'promo',
 'ptx',
 'pul',
 'purwanto',
 'referensi',
 'ribu',
 'rp',
 'sd',
 'sekarang',
 'seminar',
 'semnas',
 'si',
 'spesial',
 'tagih',
 'telkomsel',
 'temanhmm',
 'terima',
 'transport',
 'tsel',
 'wahyudin',
 'wakil',
 'war',
 'zarkasi']

In [93]:
a = X.toarray()
len(a)

6

In [95]:
dataset = pd.DataFrame({'fitur': fitur, 'doc1': a[0], 'doc2': a[1], 'doc3': a[2], 'doc4': a[3], 'doc5': a[4], 'doc6': a[5]})
dataset.to_excel("tf2_sms.xlsx")
dataset

        fitur  doc1  doc2  doc3  doc4  doc5  doc6
0        0mnt     1     0     0     0     0     0
1         1gb     1     0     0     0     0     0
2         1hr     1     0     0     0     0     0
3         2gb     1     0     0     0     0     0
4       aktif     0     2     0     0     0     0
5         app     1     0     0     0     0     0
6     bahagia     0     0     0     0     0     1
7         bal     0     0     1     0     0     0
8       bayar     0     0     0     1     0     0
9        beli     1     0     0     0     0     0
10      besar     0     0     0     0     1     0
11      biaya     0     0     1     0     0     0
12       buat     0     1     0     0     0     0
13       buru     1     1     0     0     0     0
14        cek     1     0     0     0     0     0
15       cell     0     0     0     1     0     0
16    counter     0     0     0     1     0     0
17   denpasar     0     0     1     0     0     0
18      dikti     0     0     2     0     0     0
19   direktur     0     0     1     0     0     0
20         dr     0     0     1     0     0     0
21      extra     2     0     0     0     0     0
22      flash     1     0     0     0     0     0
23         gb     0     1     0     0     0     0
24       hari     0     1     0     0     0     0
25     hingga     1     0     0     0     0     0
26     hubung     0     0     1     0     0     0
27       info     0     0     0     1     0     0
28        isi     0     0     0     1     0     0
29       joko     0     0     1     0     0     0
..        ...   ...   ...   ...   ...   ...   ...
55        nov     0     1     0     0     0     0
56         of     0     0     0     0     0     1
57        one     0     0     0     0     0     1
58      paket     1     0     0     0     0     0
59      pilih     0     1     0     0     0     0
60        pln     0     0     0     1     0     0
61       prof     0     0     1     0     0     0
62      promo     1     1     0     0     0     0
63        ptx     0     0     1     0     0     0
64        pul     0     0     0     1     0     0
65   purwanto     0     0     1     0     0     0
66  referensi     0     0     1     0     0     0
67       ribu     0     1     0     0     2     0
68         rp     0     1     1     0     0     0
69         sd     0     1     0     0     0     0
70   sekarang     0     2     0     0     0     0
71    seminar     0     0     1     0     0     0
72     semnas     0     0     1     0     0     0
73         si     0     0     1     0     0     0
74    spesial     0     1     0     0     0     0
75      tagih     0     0     0     1     0     0
76  telkomsel     1     0     0     0     0     0
77   temanhmm     0     0     0     0     0     1
78     terima     0     0     0     1     0     0
79  transport     0     0     1     0     0     0
80       tsel     1     0     0     0     0     0
81   wahyudin     0     0     1     0     0     0
82      wakil     0     0     1     0     0     0
83        war     0     0     0     1     0     0
84    zarkasi     0     0     1     0     0     0

[85 rows x 7 columns]

In [84]:
a = X_.transform([kunci_jawaban_bersih[6]]).toarray()[0]
dictt = {
    "t":a}
dictt
pd.DataFrame.from_dict(dictt).to_excel("tf_test.xlsx")